.user-img {
  @media screen and (max-width: 767px) {
    margin-left: 0px;
    margin-bottom: 4px;
  }
  width: 50px;
  height: 50px;
  border-radius: 100%;
  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
}

#googleUser {
  @media screen and (max-width: 767px) {
    margin-left: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
}
.navigation__button {
  background-color: transparent;
  align-items: center;
}
.navigation__button.signOut {
  display: none;
}

.navigation__button.signIn {
  display: block;
}
.navigation__button.current {
  position: relative;
}
.navigation__button.current::after {
  position: absolute;
  top: 13px;
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background-color: #ff6b08;
  margin-bottom: 20px;
}

.nav__item.sign-in {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: unset;
  }
}
