.btn-up {
  position: fixed;
  background-color: #ff6b01;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.btn-up__icon {
  content: '';
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  fill: white;
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #df2c11;
  }
}

@media screen and (max-width:480px){
  .btn-up {
    width: 50px;
  height: 50px;
  }
  .btn-up__icon {
   
    width: 30px;
  height: 30px;
  }

}