.body-theme {
  background-color: #1d1917;

  .modal-window,
  .modal-team,
  .movie-card__title,
  .movie__info-data,
  .movie__about-info,
  .team-modal-open,
  .close-modal-btn,
  .close-btn-icon,
  .footer,
  .film__content,
  .film__item,
  .film__film__title,
  .team-list-name,
  .modal-team-title {
    background-color: #333;
    color: #fff;
  }

  .movie__about {
    color: #8c8c8c;
  }
}

.btnContainer {
  width: 50px;
  height: 20px;
  position: absolute;

  top: 100px;

  //outline: 1px solid red;
}

@media screen and (max-width: 480px) {
  .btnContainer {
    top: 180px;
  }
}
.btn {
  //outline: 1px solid green;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #2f4858;
  border-radius: 999px;

  border-color: #7d0000;

  cursor: pointer;
}

.knob {
  // outline: 1px solid yellow;
  width: 20px;
  height: 20px;
  position: relative;
}

.top {
  background-color: #7d0000;
  border-radius: 999px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.light {
  border-radius: 999px;
  position: absolute;
  width: 35px;
  height: 35px;
  background: radial-gradient(
    50% 50%,
    #e24c64 10.42%,
    #e35e72ca 27.08%,
    #e5717d59 45.31%,
    #90d5e71c 65.1%,
    #9ed8e705 78.12%,
    #b1dde900 95.83%
  );
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}


