
body.dark-mode {
    background-color: #333;
}

.body-theme {
    background-color: #1d1917;
    
     .modal-window, .modal-team {
          background-color: #333;
          color: #fff;
        }

     .footer {
        background-color: #333;
     }
      }



  


  .btnContainer {
    width: 80px;
    height: 40px;
    position: relative;

    margin-left: auto;
    //outline: 1px solid red;
  }
  
  .btn {

    //outline: 1px solid green;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #3c3459;
    border-radius: 999px;
    padding-top: 3px;
    padding-bottom: 3px;
    
    cursor: pointer;
  }
  
  .knob {

   // outline: 1px solid yellow;
    width: 35px;
    height: 35px;
    position: relative;
  }
  
  .top {
    background-color: #827d96;
    border-radius: 999px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .light {
    border-radius: 999px;
    position: absolute;
    width: 35px;
    height: 35px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #4cc3e2 10.42%,
      rgba(94, 199, 227, 0.791579) 27.08%,
      rgba(113, 204, 229, 0.35) 45.31%,
      rgba(144, 213, 231, 0.11) 65.1%,
      rgba(158, 216, 231, 0.02) 78.12%,
      rgba(177, 221, 233, 0) 95.83%
    );
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hidden {
    visibility: hidden;
  }
