.glide__arrow {
  outline: none;
  box-shadow: none;
  border-radius: 50%;
  padding: 4px 7px;
  background-color: rgba(0, 0, 0, 0.4);
}

.glide__arrow--left {
  left: 3px;
}
.glide__arrow--right {
  right: 3px;
}
.slide__title {
  margin-top: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.cards__image-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 0px 5px 0px #ffffff;
  }
}

.glide__slide--main {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.2);
    border-radius: 5px;
  }
}
