.film-info-js {
  margin-bottom: 20px;
  // flex-grow: 1;
}
.movie {
  &__info-container {
    overflow-x: auto;
    margin-bottom: 12px;
  }
  &__info-item {
    width: 100px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8c8c8c;
    @media screen and (min-width: 1280px) {
      width: 153px;
    }
  }

  &__info-data {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: #000000;
  }
  &__info-data--title {
    text-transform: uppercase;
  }
  &__about {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &__about-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
    color: #000000;
  }
}

.movie-card {
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media screen and (min-width: 1280px) {
      font-size: 30px;
    }
  }
}
.td-box {
  display: inline-flex;
  border-radius: 5px;
  justify-content: center;
  align-items: flex-end;
  width: 36px;
  height: 16px;
  background-color: #ff6b01;
  color: #ffffff;
}

.movie-info__table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

.film-info-wrap {
  @media screen and (min-width: 768px) {
    width: 268px;
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.film-info-container {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 68px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 20px;
  }
}

.film-btn-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    gap: 15px;
  }
}

.film-btn {
  width: 110px;
  height: 44px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  &-watched {
    color: var(--primary-color);
    border: 1px solid #000000;
    background-color: var(--primary-bg-color);
  }
  &-queue {
    color: var(--primary-color);
    border: 1px solid #000000;
    background-color: var(--primary-bg-color);
  }

  &--active {
    color: #fff;
    background-color: #ff6b01;
    border-color: #ff6b01;
    box-shadow: 0px 8px 10px rgba(255, 107, 1, 0.6);
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}

.film-btn-watched,
.film-btn-queue {
  box-shadow: none;
  transition: border-color 250ms linear, color 250ms linear,
    background-color 250ms linear, box-shadow 250ms linear;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #ff6b01;
    border-color: #ff6b01;
    box-shadow: 0px 8px 15px rgba(255, 107, 1, 0.6);
  }
}

.film-btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.img-wrap {
  width: 100%;
  height: 100%;
}

.trailer-box {
  padding: 25px;
  width: 100%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.trailer-box.is-active {
  pointer-events: initial;
}
.trailer-overlay.not-active {
  display: none;
}

.film-tiezer {
  width: 100%;
  opacity: 0;
  pointer-events: none;
  margin-top: 20px;
  height: 300px;
  transition: opacity 450ms linear;
}
.film-tiezer.is-active {
  opacity: 1;
  pointer-events: initial;
}

@media screen and (min-width: 768px) {
  .film-tiezer {
    height: 380px;
  }
}

@media screen and (min-width: 1200px) {
  .film-tiezer {
    height: 480px;
  }
}

.film-preview {
  display: flex;
  cursor: pointer;
  width: 150px;
  color: var(--accent-color);
  font-weight: 500;
  background: transparent;
  padding: 6[x];
  &:hover,
  &:focus {
    font-weight: 700;
    .play-icon--orange {
      scale: 1.1;
    }
  }

  &[disabled] {
    opacity: 0;
  }
  // @media (hover: hover) {
  //   display: none;
  // }
}
.film-preview.not-active {
  display: none;
}

.film-preview-close {
  position: fixed;

  top: 45px;
  right: 25;
  cursor: pointer;
  margin: 10px;

  background: transparent;

  &[disabled] {
    opacity: 0;
    display: none;
  }
}
.overlay-box {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  &:hover,
  &:focus {
    .trailer-overlay {
      opacity: 1;
      pointer-events: initial;
    }
  }
  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.movie__poster {
  width: 100%;

  @media screen and (min-width: 768px) {
    height: 374px;
    width: 264px;
    object-fit: cover;
  }
  @media screen and (min-width: 1280px) {
    height: 478px;
    width: 375px;
    object-fit: cover;
  }
}

.left-wrap {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.like-dislike {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}

.like,
.dislike {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  min-height: 25px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Roboto';
  background-color: var(--primary-bg-color);
  border: 1px solid #000;
  box-shadow: none;
  transition: border-color 250ms linear, color 250ms linear,
    background-color 250ms linear, box-shadow 250ms linear;
}

.like:hover,
.like:focus,
.dislike:hover,
.dislike:focus {
  color: #fff;
  background-color: #ff6b01;
  border-color: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.icon-up,
.icon-down {
  fill: currentColor;
}

.trailer {
  &__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(118, 49, 9, 0.65);
    opacity: 0;
    pointer-events: none;
    transition: opacity 450ms linear;
  }
}
.overlay-content {
  color: #ffffff;
}
.play-icon {
  fill: #ffffff;
}
.close-btn-icon--trailer {
  fill: #ff6b01;
  &:hover,
  &:focus {
    fill: hsl(9, 90%, 43%);
  }
}

.play-icon--orange {
  fill: #ff6b01;
  margin-right: 6px;
  width: 20px;
  height: 20px;
}
