:root {
  --primary-font-family: Roboto, sans-serif;

  --primary-color: #000000;
  --secondary-color: #ffffff;
  --tertiary-color: #545454;
  --accent-color: #ff6b08;

  --primary-bg-color: #ffffff;
}
