<footer class="footer">
    <div class="container footer__container">
      <p class="footer__description"></p>
      <div class="footer__first-block">
        &copy;&#32;2022&#32;&#448;&#32;All Rights Reserved&#32;&#448;
      </div>
      <div class="footer__second-block">
        Developed with
        <div class="heart"></div>
        by
        <button
          type="button"
          class="team-modal-open"
          id="team-modal-open"
          data-action="open-modal"
        >
          GoIT Students
        </button>
      </div>
    </div>
  </footer>