<header class="header">
  <div class="container header__container">
    <div class="header__wrap">
      <a href="index.html" class="header__logo-link">
        <svg aria-label="logo" class="header__logo-svg">
          <use
            class="header__logo-img"
            href="./images/sprite.svg#icon-film"
          ></use>
        </svg>
        <span class="header__logo-text">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="index.html" class="nav__link nav__link--current">Home</a>
          </li>
          <li class="nav__item">
            <a href="./my-library.html" class="nav__link">My library</a>
          </li>
          <li class="nav__item sign-in">
            <button id="signin" class="navigation__button nav__link">
              Sign in
            </button>
            <button id="signout" class="navigation__button nav__link signOut">
              Sign out
            </button>
            <div id="googleUser"></div>
          </li>
        </ul>
      </nav>
    </div>
    <form class="header__form">
      <input
        type="text"
        name="search"
        placeholder="Movie search"
        class="header__form-input"
      />
      <button type="submit" class="header__form-button">
        <svg aria-label="submit" class="header__form-svg">
          <use
            class="header__form-img"
            href="./images/sprite.svg#icon-search"
          ></use>
        </svg>
      </button>
    </form>

    <div class="btnContainer">
        <div class=" btn no-highlight" id="btn">
        <div class="knob no-highlight">
          <div class="light no-highlight"></div>
          <div class="top no-highlight"></div>
        </div>
      </div>
    </div> 


  </div>
</header>
