<div class="team-backdrop">
  <div class="modal-team">
    
    <h1 class="modal-team-title">U3R - team</h1>

    <button
      type="button"
      class="close-modal-team-button"
      data-action="close-modal"
    >
      <svg class="close-modal-team-icon" width="15" height="15">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="team-hurray"> "Gotta some problem? Dont panik. Update, Refresh, Reboot, Reinstall..." </h2>
    <p class="under">By Andrii Syrotenko</p>

 

    
      <ul class="team-list">
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/Andrii.jpg"
            alt="Team Lead"
            
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Andrii </h3>
            <p class="team-list-text">Team Lead</p>
          </div>
        </li>
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/Nataliia.jpg"
            alt="Scrum-Master"
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Nataliia</h3>
            <p class="team-list-text">Scrum Master</p>
          </div>
        </li>
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/Hanna.jpg"
            alt="Developer"
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Hanna </h3>
            <p class="team-list-text">Developer</p>
          </div>
        </li>
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/Yevheniia.jpg"
            alt="Developer"
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Yevheniia </h3>
            <p class="team-list-text">Developer</p>
          </div>
        </li>
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/Serhii.jpg"
            alt="Developer"
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Serhii </h3>
            <p class="team-list-text">Developer</p>
          </div>
        </li>
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/OleksandrD.jpg"
            alt="Developer"
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Olexandr </h3>
            <p class="team-list-text">Developer</p>
          </div>
        </li>
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/OleksandrD.jpg"
            alt="Developer"
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Oleksandr </h3>
            <p class="team-list-text">Developer</p>
          </div>
        </li>
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/Pavlo.jpg"
            alt="Developer"
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Pavlo </h3>
            <p class="team-list-text">Developer</p>
          </div>
        </li>
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/Olena.jpg"
            alt="Developer"
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Olena </h3>
            <p class="team-list-text">Developer</p>
          </div>
        </li>
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/Yevhen.jpg"
            alt="Developer"
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Yevhen </h3>
            <p class="team-list-text">Developer</p>
          </div>
        </li>
        <li class="team-list-item">
          <img width="152"
            class="team-list-img"
            src="./images/team/Yuliia.jpg"
            alt="Developer"
          />
          <div class="team-list-content">
            <h3 class="team-list-name">Yuliia</h3>
            <p class="team-list-text">Developer</p>
          </div>
        </li>
      </ul>
   
  </div>
</div>
