<div class="backdrop is-hidden" data-modal>
  <!-- removed is-hidden from classlist -->

  <div class="modal-window">
    <button type="button" class="close-modal-btn">
      <svg class="close-btn-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="film-info-container">
      <div class="left-wrap">
        <div class="overlay-box">
          <div class="img-wrap"></div>
          <a href="#" class="trailer-overlay">
            <svg width="30px" height="30px" class="play-icon">
              <use href="./images/sprite.svg#icon-play"></use>
            </svg>
            <p class="overlay-content">Watch the trailer</p>
          </a>
        </div>
        <div class="like-dislike">
          <button type="button" class="like">
            <svg class="icon-up" width="24px" height="24px">
              <use href="./images/sprite.svg#icon-thumbs-up"></use>
            </svg>
            <span class="likes">0</span>
          </button>
          <button type="button" class="dislike">
            <svg class="icon-down" width="24px" height="24px">
              <use href="./images/sprite.svg#icon-thumbs-down"></use>
            </svg>
            <span class="dislikes">0</span>
          </button>
        </div>
      </div>
      <div class="film-info-wrap">
        <div class="film-info-js"></div>
        <div class="film-btn-wrap">
          <button type="button" class="film-btn film-btn-watched">
            add to watched
          </button>
          <button type="button" class="film-btn film-btn-queue">
            add to queue
          </button>
        </div>
        <button type="button" class="film-preview">
          <svg width="30px" height="30px" class="play-icon play-icon--orange">
            <use href="./images/sprite.svg#icon-play"></use>
          </svg>
          Watch the trailer
        </button>
      </div>
    </div>
    <div class="trailer-box">
      <button type="button" class="film-preview-close" disabled>
        <svg class="close-btn-icon close-btn-icon--trailer">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="film-tiezer"></div>
    </div>
  </div>
</div>
