<div class="backdrop is-hidden" data-modal>
  <!-- removed is-hidden from classlist -->

  <div class="modal-window">
    <button type="button" class="close-modal-btn">
      <svg class="close-btn-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="film-info-container">
      <div class="img-wrap"></div>

      <div class="film-info-wrap">
        <div class="film-info-js"></div>
        <div class="film-btn-wrap">
          <button type="button" class="film-btn film-btn-watched">
            add to watched
          </button>
          <button type="button" class="film-btn film-btn-queue">
            add to queue
          </button>
        </div>
        <button type="button" class="film-preview">Watch the trailer</button>
      </div>
    </div>
    <div class="trailer-box">
      <button type="button" class="film-preview-close" disabled>X</button>
      <div class="film-tiezer"></div>
    </div>
  </div>
</div>
